.main {
    width: 300px;
    box-shadow: 1px 1px 5px #999;
    border-radius: 10px;
    overflow: hidden;
}

.header {
    width: 100%;
    padding: 10px 0;
    background: #1E90FF;
    text-align: center;
    color: #ffffff;
    font-size: 1.5rem;
}

.content {
    position: relative;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input__item {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #1E90FF;
    padding: 5px;
    font-size: 1rem;
}

.input:focus {
    outline: none;
    border-bottom: 2px solid #1E90FF;
}

.link {
    text-decoration: none;
    color: #1E90FF;
}

.link:hover {
    text-decoration: underline;
}

.link:visited {
    color: #1E90FF;
}