.main {
    width: 24px;
    height: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    opacity: 0.8;
    transition: .5s;
}

.main div {
    width: 100%;
    height: 4px;
    background: #FFFFFF;
    border-radius: 2px;
}

.main:hover {
    opacity: 1;
}